# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]
*.pyc

# C extensions
material_manager/*.so

# Distribution / packaging
.idea
/env
/bin/
/build/
/develop-eggs/
/dist/
/eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
/*.egg-info/
/.installed.cfg
/*.egg

# Installer logs
material_manager/pip-log.txt
material_manager/pip-delete-this-directory.txt

# Unit test / coverage reports
material_manager/.tox/
material_manager/.coverage
material_manager/.cache
material_manager/nosetests.xml
material_manager/coverage.xml

# Translations
material_manager/*.mo

# Mr Developer
material_manager/.mr.developer.cfg
material_manager/.project
material_manager/.pydevproject

# Rope
material_manager/*.ropeproject

# Django stuff:
material_manager/*.log
material_manager/*.pot

# Sphinx documentation
material_manager/docs/_build/

db.sqlite3
 material_manager/material_manager/material_manager/__pycache__
 material_manager/*/__pycache__



# env
/.env
/env/
/**/migrations/**
/!**/migrations
/public/
/static/
/manage.py
/public/employee_images/
/public/images/
/public/videos/
/.idea/
/.vscode/
/../.idea/
/.DS_Store
/.idea
/celerybeat-schedule
/celerybeat.pid